{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset{% endblock title %}

{% block contentd %}
    <h3>Password reset</h3>

<h6>Forgotten your password ? Enter you email address below, and we'll email instructions for setting a new one .</h6>
    <div class="col-xl-7 col-lg-7 col-md-700 col-sm-700 col-xs-700 bg-white m-70 m-sm-70 border rounded px-4 pt-4 pb-3 shadow">
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}<br>
    <button type="submit" class="btn btn-secondary">reset</button>
    </form>
    </div>
{% endblock contentd %}